.DS_Store
/.build
build
.idea
/Packages
gradle
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
local.properties
secretkey.gpg
.gradle
src/test/swift/large-file.json
